# Intermediate Natural Language Processing (NLP)

## Agenda

1. Reading in the Yelp reviews corpus
2. Term Frequency-Inverse Document Frequency (TF-IDF)
3. Using TF-IDF to summarize a Yelp review
4. Sentiment analysis using TextBlob

In [1]:
# for Python 2: use print only as a function
from __future__ import print_function

## Part 1: Reading in the Yelp reviews corpus

In [2]:
# read yelp.csv into a DataFrame using a relative path
import pandas as pd
path = 'yelp.csv'
yelp = pd.read_csv(path)

In [3]:
# examine the first row
yelp.head(1)

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny
0,9yKzy9PApeiPPOUJEtnvkg,2011-01-26,fWKvX83p0-ka4JS3dc6E5A,5,My wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0

In [4]:
# create a new DataFrame that only contains the 5-star and 1-star reviews
yelp_best_worst = yelp[(yelp.stars==5) | (yelp.stars==1)]
yelp_best_worst.shape

(4086, 10)

In [5]:
# define X and y
X = yelp_best_worst.text
y = yelp_best_worst.stars

In [6]:
# split X and y into training and testing sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [7]:
from sklearn.naive_bayes import MultinomialNB
from sklearn import metrics

# define a function that accepts a vectorizer and calculates the accuracy
# for the conviency of change the setting of vect
def tokenize_test(vect):
    
    # create document-term matrices using the vectorizer
    X_train_dtm = vect.fit_transform(X_train)
    X_test_dtm = vect.transform(X_test)
    
    # print the number of features that were generated
    print('Features: ', X_train_dtm.shape[1])
    
    # use Multinomial Naive Bayes to predict the star rating
    nb = MultinomialNB()
    nb.fit(X_train_dtm, y_train)
    y_pred_class = nb.predict(X_test_dtm)
    
    # print the accuracy of its predictions
    print('Accuracy: ', metrics.accuracy_score(y_test, y_pred_class))

## Part 2: Term Frequency-Inverse Document Frequency (TF-IDF)

- **What:** Compute the "relative frequency" that a word appears in a document compared to its frequency across all documents in the corpus
- **Why:** More useful than "term frequency" for identifying "important" words in each document (high frequency in that document, low frequency in other documents)
- **Notes:** Useful for search engine relevance scoring, text summarization, document clustering, and classification

In [8]:
# example documents
simple_train = ['call you tonight', 'Call me a cab', 'please call me... PLEASE!']

### Calculating Term Frequency (TF):

In [9]:
# Term Frequency (count the number of occurrences of each term in each document) 
from sklearn.feature_extraction.text import CountVectorizer
vect = CountVectorizer()
tf = pd.DataFrame(vect.fit_transform(simple_train).toarray(), columns=vect.get_feature_names())
tf

   cab  call  me  please  tonight  you
0    0     1   0       0        1    1
1    1     1   1       0        0    0
2    0     1   1       2        0    0

### Calculating Document Frequency (DF):

In [10]:
# examine default parameters of CountVectorizer
vect

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
        strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)

[CountVectorizer documentation](http://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.CountVectorizer.html)

- **binary:** boolean, default=False
    - If True, all non-zero counts are set to 1. This is useful for discrete probabilistic models that model binary events rather than integer counts.

In [11]:
# use 'binary=True' parameter to check for occurrence (1) or non-occurrence (0)
vect = CountVectorizer(binary=True)#check whether the words occur in the documents,get DF
pd.DataFrame(vect.fit_transform(simple_train).toarray(), columns=vect.get_feature_names())

   cab  call  me  please  tonight  you
0    0     1   0       0        1    1
1    1     1   1       0        0    0
2    0     1   1       1        0    0

In [12]:
# Document Frequency (count the number of documents in which each term appears)
df = vect.fit_transform(simple_train).toarray().sum(axis=0)#sum the values along the columns
pd.DataFrame(df.reshape(1, 6), columns=vect.get_feature_names())

   cab  call  me  please  tonight  you
0    1     3   2       1        1    1

### Calculating TF-IDF from TF and DF:

In [13]:
# TF-IDF (simple version) #every row divided by the df
tf/df

   cab      call   me  please  tonight  you
0  0.0  0.333333  0.0     0.0      1.0  1.0
1  1.0  0.333333  0.5     0.0      0.0  0.0
2  0.0  0.333333  0.5     2.0      0.0  0.0

[TfidfVectorizer documentation](http://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.TfidfVectorizer.html)

In [14]:
# TfidfVectorizer (CountVectorizer + TfidfTransformer)
from sklearn.feature_extraction.text import TfidfVectorizer
vect = TfidfVectorizer()
#this function can get the tfidf directly
vect

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.float64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), norm='l2', preprocessor=None, smooth_idf=True,
        stop_words=None, strip_accents=None, sublinear_tf=False,
        token_pattern='(?u)\\b\\w\\w+\\b', tokenizer=None, use_idf=True,
        vocabulary=None)

Note the extra parameters (compared to CountVectorizer):
- norm: norm used to normalize term vectors
- smooth_idf: add one to document frequencies
- sublinear_tf: 1+log(tf)
- use_idf

In [15]:
# TF-IDF (scikit-learn's default implementation)
pd.DataFrame(vect.fit_transform(simple_train).toarray(), columns=vect.get_feature_names())

        cab      call        me    please   tonight       you
0  0.000000  0.385372  0.000000  0.000000  0.652491  0.652491
1  0.720333  0.425441  0.547832  0.000000  0.000000  0.000000
2  0.000000  0.266075  0.342620  0.901008  0.000000  0.000000

### Using TF-IDF for classification:

In [16]:
# use CountVectorizer with default parameters
vect = CountVectorizer()
tokenize_test(vect)

Features:  16825
Accuracy:  0.9187866927592955

In [17]:
# use TfidfVectorizer with default parameters
vect = TfidfVectorizer()
tokenize_test(vect)

Features:  16825
Accuracy:  0.8199608610567515

In [18]:
# tune TfidfVectorizer for better results
vect = TfidfVectorizer(norm=None)
tokenize_test(vect)

Features:  16825
Accuracy:  0.9080234833659491

In [19]:
# make TfidfVectorizer behave like CountVectorizer
vect = TfidfVectorizer(norm=None, use_idf=False)#only tf
tokenize_test(vect)

Features:  16825
Accuracy:  0.9187866927592955

## Part 3: Using TF-IDF to summarize a Yelp review

Reddit's [autotldr](https://np.reddit.com/r/autotldr/comments/31b9fm/faq_autotldr_bot/) uses the [SMMRY](http://smmry.com/about) algorithm, which is based on TF-IDF!

In [20]:
# create a document-term matrix (minus stop words) using TfidfVectorizer
vect = TfidfVectorizer(stop_words='english')
dtm = vect.fit_transform(yelp.text)
dtm.shape

(10000, 28880)

In [21]:
# create a list of all of the features
features = vect.get_feature_names()
len(features)

28880

In [24]:
import numpy as np

def summarize():
    
    # choose a random review that is at least 400 characters
    review_length = 0
    while review_length < 400:
        review_id = np.random.randint(0, yelp.shape[0])#generate a random review_id
        review_text = yelp.loc[review_id, 'text'] #search for the text
        review_length = len(review_text) #calculate the length
        #if the length greater than 400 jump out the loop
    
    # create a list of all unique words in the review (minus stop words) using CountVectorizer
    vect = CountVectorizer(stop_words='english')
    vect.fit([review_text])
    unique_words = vect.get_feature_names()
    
    # create a dictionary of words and their TF-IDF scores
    word_scores = {}
    for word in unique_words:
        word_scores[word] = dtm[review_id, features.index(word)]
    #key is word , value is the tfidf score
    
    # print words with the top 5 TF-IDF scores
    print('TOP SCORING WORDS:')
    top_scores = sorted(word_scores.items(), key=lambda x: x[1], reverse=True)[0:5]
    for word, score in top_scores:
        print(word)
    
    # print 5 random words (for comparison)
    print('\n' + 'RANDOM WORDS:')
    random_words = np.random.choice(list(word_scores.keys()), size=5, replace=False)
    for word in random_words:
        print(word)
    
    # print the review
    print('\n' + review_text)

In [25]:
# summarize a random Yelp review
summarize()

TOP SCORING WORDS:
starbucks
coffee
beans
grown
roast

RANDOM WORDS:
really
coffees
stop
brewed
gripe

The rap on Starbucks is that they "over-roast" or "incinerate" their beans.

And I think that might be right...sometimes at Starbucks, it seems like I'm drinking something brewed from charcoal briquettes...it doesn't taste good:(

Now, I will tell you that I am really no connoisseur of coffees...I like coffee, you know...a good dark roast, made with freshly roasted beans:)

But the beans don't have to come from a specific plant , grown on the southern side of a special hill in Columbia and then eaten and pooped out by a badger of some sort.

No, I just want a decent cup of coffee at a decent price:)

Why can't Starbucks do that?

I occasionally need to meet someone for business, and Starbucks comes up as meeting place (and I understand that...they are almost annoyingly ubiquitous:)

I have sat at a cafe table on a street corner in San Francisco, having a cup of coffee at a Starbucks...looking at the Starbucks across the street...Lewis Black calls it "the place where space and time folds in on itself"...I say "why build the Hadron Super Collider to open a black hole?"...Starbucks did it a decade ago with a combination of charred coffee beans and vats of money to open a Starbucks for every adult in the United States:)

In and of itself, that's no reason for a 2 star review...Gordon Gecko said it best..."Greed is Good!" and Starbucks exemplifies that credo...they are a generally very successful corporation grown up from the Bay area defectors from Peet's Coffee...I have no problem with success:)

No, my gripe with Starbucks is that they seem to be all about the marketing and not about the product...their coffee is crap:) So is most of the stuff they serve...it's second or third rate, at best.

And just because it's convenient doesn't mean we all need to stop in.

There is better coffee and better tea and better everything around...at much better prices...it's worth looking for another meeting spot:)

## Part 4: Sentiment analysis using TextBlob

[TextBlob](https://textblob.readthedocs.org): "Simplified Text Processing"

In [26]:
# print the first review
print(yelp_best_worst.loc[0, 'text'])

My wife took me here on my birthday for breakfast and it was excellent.  The weather was perfect which made sitting outside overlooking their grounds an absolute pleasure.  Our waitress was excellent and our food arrived quickly on the semi-busy Saturday morning.  It looked like the place fills up pretty quickly so the earlier you get here the better.

Do yourself a favor and get their Bloody Mary.  It was phenomenal and simply the best I've ever had.  I'm pretty sure they only use ingredients from their garden and blend them fresh when you order it.  It was amazing.

While EVERYTHING on the menu looks excellent, I had the white truffle scrambled eggs vegetable skillet and it was tasty and delicious.  It came with 2 pieces of their griddled bread with was amazing and it absolutely made the meal complete.  It was the best "toast" I've ever had.

Anyway, I can't wait to go back!

In [27]:
# save it as a TextBlob object
from textblob import TextBlob
review = TextBlob(yelp_best_worst.loc[0, 'text'])

In [28]:
# examine the words
review.words

WordList(['My', 'wife', 'took', 'me', 'here', 'on', 'my', 'birthday', 'for', 'breakfast', 'and', 'it', 'was', 'excellent', 'The', 'weather', 'was', 'perfect', 'which', 'made', 'sitting', 'outside', 'overlooking', 'their', 'grounds', 'an', 'absolute', 'pleasure', 'Our', 'waitress', 'was', 'excellent', 'and', 'our', 'food', 'arrived', 'quickly', 'on', 'the', 'semi-busy', 'Saturday', 'morning', 'It', 'looked', 'like', 'the', 'place', 'fills', 'up', 'pretty', 'quickly', 'so', 'the', 'earlier', 'you', 'get', 'here', 'the', 'better', 'Do', 'yourself', 'a', 'favor', 'and', 'get', 'their', 'Bloody', 'Mary', 'It', 'was', 'phenomenal', 'and', 'simply', 'the', 'best', 'I', "'ve", 'ever', 'had', 'I', "'m", 'pretty', 'sure', 'they', 'only', 'use', 'ingredients', 'from', 'their', 'garden', 'and', 'blend', 'them', 'fresh', 'when', 'you', 'order', 'it', 'It', 'was', 'amazing', 'While', 'EVERYTHING', 'on', 'the', 'menu', 'looks', 'excellent', 'I', 'had', 'the', 'white', 'truffle', 'scrambled', 'eggs', 'vegetable', 'skillet', 'and', 'it', 'was', 'tasty', 'and', 'delicious', 'It', 'came', 'with', '2', 'pieces', 'of', 'their', 'griddled', 'bread', 'with', 'was', 'amazing', 'and', 'it', 'absolutely', 'made', 'the', 'meal', 'complete', 'It', 'was', 'the', 'best', 'toast', 'I', "'ve", 'ever', 'had', 'Anyway', 'I', 'ca', "n't", 'wait', 'to', 'go', 'back'])

In [29]:
# examine the sentences
review.sentences

[Sentence("My wife took me here on my birthday for breakfast and it was excellent."),
 Sentence("The weather was perfect which made sitting outside overlooking their grounds an absolute pleasure."),
 Sentence("Our waitress was excellent and our food arrived quickly on the semi-busy Saturday morning."),
 Sentence("It looked like the place fills up pretty quickly so the earlier you get here the better."),
 Sentence("Do yourself a favor and get their Bloody Mary."),
 Sentence("It was phenomenal and simply the best I've ever had."),
 Sentence("I'm pretty sure they only use ingredients from their garden and blend them fresh when you order it."),
 Sentence("It was amazing."),
 Sentence("While EVERYTHING on the menu looks excellent, I had the white truffle scrambled eggs vegetable skillet and it was tasty and delicious."),
 Sentence("It came with 2 pieces of their griddled bread with was amazing and it absolutely made the meal complete."),
 Sentence("It was the best "toast" I've ever had."),
 Sentence("Anyway, I can't wait to go back!")]

Sentiment is the "attitude" of the speaker:

- **polarity** ranges from -1 (most negative) to 1 (most positive)
- **subjectivity** ranges from 0 (very objective) to 1 (very subjective)

In [30]:
# examine the review sentiment
print(review.sentiment.polarity)
print(review.sentiment.subjectivity)

0.40246913580246907
0.6591122868900646

In [31]:
# quick aside: understanding the apply method
yelp['length'] = yelp.text.apply(len)
yelp.head(2)

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny,length
0,9yKzy9PApeiPPOUJEtnvkg,2011-01-26,fWKvX83p0-ka4JS3dc6E5A,5,My wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0,889
1,ZRJwVLyzEJq1VAihDhYiow,2011-07-27,IjZ33sJrzXqU-0X6U8NwyA,5,I have no idea why some people give bad review...,review,0a2KyEL0d3Yb1V6aivbIuQ,0,0,0,1345

In [32]:
# define a function that accepts text and returns the polarity
def detect_sentiment(text):
    
    # use this line for Python 2 (avoids UnicodeDecodeError for some reviews)
    # blob = TextBlob(text.decode(encoding='utf-8'))
    
    # use this line instead for Python 3
    blob = TextBlob(text)
    
    # return the polarity
    return blob.sentiment.polarity

In [33]:
# create a new DataFrame column for sentiment (WARNING: SLOW!)
#text column is the input, to apply a function on this column
yelp['sentiment'] = yelp.text.apply(detect_sentiment)
yelp.head(3)

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny,length,sentiment
0,9yKzy9PApeiPPOUJEtnvkg,2011-01-26,fWKvX83p0-ka4JS3dc6E5A,5,My wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0,889,0.402469
1,ZRJwVLyzEJq1VAihDhYiow,2011-07-27,IjZ33sJrzXqU-0X6U8NwyA,5,I have no idea why some people give bad review...,review,0a2KyEL0d3Yb1V6aivbIuQ,0,0,0,1345,0.229773
2,6oRAC4uyJCsJl1X0WZpVSA,2012-06-14,IESLBzqUCLdSzSqm0eCSxQ,4,love the gyro plate. Rice is so good and I als...,review,0hT2KtfLiobPvh6cDC8JQg,0,1,0,76,0.566667

In [ ]:
# box plot of sentiment grouped by stars
# import matplotlib.pyplot as plt
# plt.style.use('ggplot')
%matplotlib inline
yelp.boxplot('sentiment', by='stars')

In [ ]:
# reviews with most positive sentiment
yelp.loc[yelp.sentiment == 1, 'text'].head()

In [ ]:
# reviews with most negative sentiment
yelp.loc[yelp.sentiment == -1, 'text'].head()

In [ ]:
# widen the column display
pd.set_option('display.max_colwidth', 500)

In [ ]:
# negative sentiment in a 5-star review
yelp.loc[(yelp.stars == 5) & (yelp.sentiment < -0.3), 'text'].head(1)

In [ ]:
# positive sentiment in a 1-star review
yelp.loc[(yelp.stars == 1) & (yelp.sentiment > 0.5), 'text'].head(1)

In [ ]:
# reset the column display width
pd.reset_option('display.max_colwidth')